* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "rubik-light";
  src: url(/assets/fonts/Rubik-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
}
body li {
  list-style: none;
}

body {
  display: grid;
  grid-template-columns: 94% 6%;
  height: 100vh;
}

.principal {
  position: relative;
  margin: 0 56px;
}
.principal .nav-container {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 26px 0;
  align-items: center;
}
.principal .nav-container .logos ul {
  display: flex;
  align-items: center;
  color: white;
  font-size: 2rem;
}
.principal .nav-container .logos ul :nth-child(2) {
  margin: 0 24px;
}
.principal .nav-container .logos ul li {
  display: flex;
}
.principal .nav-container .logos ul img {
  width: 70%;
}
.principal .nav-container nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.principal .nav-container nav ul li {
  margin-right: 40px;
  color: white;
  font-family: rubik-light, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  transition: 0.2s;
}
.principal .nav-container nav ul li:hover {
  color: grey;
  cursor: pointer;
}
.principal .nav-container nav ul li i {
  color: white;
  transition: 0.2s;
}
.principal .nav-container nav ul li i:hover {
  color: red;
  cursor: pointer;
}
.principal .hero-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin-top: 150px;
  color: white;
  text-transform: uppercase;
  font-family: rubik-light, sans-serif;
}
.principal .hero-container .title {
  font-size: 100px;
}
.principal .hero-container .descro {
  margin-left: 30%;
  margin-top: 30px;
  text-align: right;
  width: 70%;
  font-size: 26px;
}
.principal .mentions {
  position: absolute;
  bottom: 26px;
  width: 100%;
}
.principal .mentions ul {
  display: flex;
  justify-content: space-between;
}
.principal .mentions ul li {
  text-transform: uppercase;
  font-family: rubik-light, sans-serif;
  color: white;
  font-size: 27px;
}

.nike-display {
  background: white;
  display: flex;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
}
.nike-display .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-animation: autoScroll linear 5s infinite;
          animation: autoScroll linear 5s infinite;
}
.nike-display .content p {
  text-transform: uppercase;
  font-family: rubik-light, sans-serif;
  font-size: 72px;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  transform: rotate(180deg);
  white-space: nowrap;
  color: black;
}
.nike-display .content img {
  margin: 20px 0;
}
.nike-display .content .test2 {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  margin-top: 20px;
}

#bg-vids {
  position: absolute;
  height: 100vh;
  z-index: 50%;
  z-index: -5;
}

@-webkit-keyframes autoScroll {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-105%);
  }
}

@keyframes autoScroll {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-105%);
  }
}/*# sourceMappingURL=index.css.map */